.java-version
/.idea
target
.flattened-pom.xml
/.flattened-pom.xml
release.properties
pom.xml.releaseBackup
pom.xml.tag
.polaris/
secure-api-gateway-ob-uk-common-datamodel/secure-api-gateway-ob-uk-common-datamodel.iml
